<h1 class="mt-4">Home</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem vindo</li>
</ol>
<div class="container">
    <h1>Aplicação de Cadastro de Pessoas</h1>
    <h3>Back-end</h3>
    A aplicação, a ser desenvolvida em Java, deverá expor uma API de cadastro, alteração, remoção e consulta de pessoas com as seguintes informações:
    <ul>
        <li>Nome - obrigatório</li>
        <li>Sexo</li>
        <li>E-mail - não obrigatório, com validação caso preenchido</li>
        <li>Data de Nascimento - obrigatória, com validação</li>
        <li>Naturalidade</li>
        <li>Nacionalidade</li>
        <li>CPF - obrigatório, com validação (formato e não pode haver dois cadastros com mesmo cpf)</li>
    </ul>

    <h3>Front-end</h3>
    A aplicação deverá ser acessível via navegador e possuir uma tela com formulário. Não há restrição em relação à tecnologia para o desenvolvimento do frontend.
    
    <h3>Segurança</h3>          
    O acesso à aplicação só poderá ser realizado por um usuário pré-existente via autenticação basic.

    <h3>Documentação</h3>
    A API está toda documentada e pode ser acessada através do link http://localhost:8080/swagger-ui.html após rodar a aplicação.

    <h3>5) Código fonte</h3>
    A aplicação possui 2 endpoints para acesso ao código fonte do projeto, sendo /source/back-end o endpoint para obter o link do 
    backend (<a href="https://github.com/gtessaro/cadastro-pessoas-backend">backend</a>) e /source/front-end o endpoint para obter o link do 
    frontend (<a href="https://github.com/gtessaro/cadastro-pessoas-frontend">frontend</a>)

</div>